<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Concurrency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B985D0F4207D716D0035D1C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B985D10D207D716D0035D1C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B985D118207D716E0035D1C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
