<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimeProfile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B94C76C5207BD394002EA13C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B94C76DD207BD395002EA13C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B94C76E8207BD395002EA13C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
